Source: imdb-plus
Section: utils
Priority: extra
Maintainer: Adrian Solumsmo <adrian.solumsmo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://www.github.com/honeymustard/imdb-plus

Package: imdb-plus
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bold re-imagining of the imdb
 imdb-plus is a graphical tool for viewing imdb vote history statistics
